.header-aligner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 680px) {
  .header {
    background-image: url(/images/backgroung-image.png);
    background-size: cover;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.header__logo {
  margin: 20px;
}
@media screen and (min-width: 680px) {
  .header__logo {
    width: 120px;
  }
}
.header__text {
  margin: 20px;
}
.header__title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  animation: slideDownAnimation 1s ease-out;
}
@keyframes slideDownAnimation {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}
@media screen and (min-width: 680px) {
  .header__title {
    font-size: 2.5em;
  }
}
.header__description {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  animation: slideLeftAnimation 1.2s ease-out;
}
@keyframes slideLeftAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateY(0);
  }
}
@media screen and (min-width: 680px) {
  .header__description {
    font-size: 1.5em;
  }
}
.header__description::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #d40000;
  margin: 0px 20px 6px 0;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
@media screen and (max-width: 679px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
.menu__toggler {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 680px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  display: none;
}
@media screen and (min-width: 680px) {
  .menu__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
.menu__item {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding: 5px;
}
@media screen and (min-width: 680px) {
  .menu__item {
    padding: 10px;
    font-size: 1.1em;
  }
}
.menu__item:hover, .menu__item:focus {
  cursor: pointer;
}
@media screen and (min-width: 680px) {
  .menu__item:hover, .menu__item:focus {
    color: #d40000;
    transform: translateY(3px);
  }
}

.menu__item--active {
  color: #d40000;
}

.dropdown {
  position: relative;
  display: block;
}
.dropdown__list {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 4px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown__link {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown__list,
.dropdown:focus .dropdown__list {
  display: block;
}

.dropdown__list a:hover,
.dropdown__list a:focus {
  font-weight: 700;
  color: #020202;
}

.fa-caret-down {
  margin-left: 5px;
}

.footer__description {
  padding: 20px;
  text-align: center;
}

.title-color {
  text-transform: uppercase;
  color: #d40000;
}

.home__image {
  width: 100%;
  display: block;
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 680px) {
  .home__image {
    margin-bottom: 40px;
  }
}
.home__subtitle {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 40px 0;
}
@media screen and (min-width: 680px) {
  .home__subtitle {
    font-size: 1.5em;
  }
}
.home__subtitle::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #d40000;
  margin: 0 20px 6px 0;
}
@media screen and (min-width: 680px) {
  .home__subtitle::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #d40000;
    margin: 0 0 6px 13px;
  }
}
.home__content {
  margin: 20px 0;
}

.carousel {
  max-width: 1100px;
  margin-bottom: 60px;
}
.carousel__image {
  width: 100%;
  display: block;
  border-radius: 4px;
}

@media screen and (min-width: 680px) {
  .news-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
  }
}

.card__description--adress {
  margin-top: 10px;
  font-weight: 700;
}

@media screen and (min-width: 680px) {
  .adress-wrapper {
    height: 250px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    margin-bottom: 60px;
    padding: 20px;
  }
}

.card.card--adress {
  padding: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 680px) {
  .card.card--adress {
    flex: 1;
    padding: 0;
  }
}

.map {
  border-radius: 4px;
  height: 100%;
}

.adress-map {
  margin-top: 20px;
  border-radius: 4px;
}
@media screen and (min-width: 680px) {
  .adress-map {
    flex: 1;
    margin: 0;
  }
}

@media screen and (min-width: 680px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }
}

.contact-icon-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 0;
}

.kendo__list {
  margin: 20px 0;
}
.kendo__item {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  padding: 5px 0;
}
@media screen and (min-width: 680px) {
  .kendo__item {
    padding: 10px 0;
    font-size: 1.1em;
  }
}
.kendo__item:hover {
  cursor: pointer;
}
.kendo__link {
  text-decoration: none;
  color: white;
}
.kendo__description {
  margin: 10px 0;
}
.kendo__subtitle {
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 20px 0;
}
@media screen and (min-width: 680px) {
  .kendo__subtitle {
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.kendo__subtitle::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #d40000;
  margin: 0 20px 6px 0;
}

.equipment-image {
  width: 100%;
  border-radius: 4px;
  margin-top: 20px;
}

.care-subtitle,
.dictionary-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.care-subtitle {
  margin-top: 20px;
}

.training__image {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin: 20px auto 0 auto;
}
@media screen and (min-width: 680px) {
  .training__image {
    width: 75%;
  }
}
.training__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (min-width: 680px) {
  .training__subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.training__subtitle::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #d40000;
  margin: 0 20px 6px 0;
}

.course {
  min-height: 120px;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0;
}
.course__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #d40000;
  font-size: 1.2em;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 680px) {
  .course__title {
    font-size: 2em;
  }
}

.course-icon-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 5px 0;
}

.calendar__iframe {
  width: 100%;
  border-radius: 4px;
  margin-top: 20px;
}
@media screen and (min-width: 680px) {
  .calendar__iframe {
    margin-top: 0;
  }
}

.card__title--news {
  font-size: 1.5em;
}
@media screen and (min-width: 680px) {
  .card__title--news {
    font-size: 2em;
  }
}
.card__date {
  color: #020202;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .card__date {
    margin: 40px 0;
  }
}

.link--news {
  display: block;
  margin-top: 10px;
}

.paragraph {
  margin: 10px 0;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #020202;
  color: white;
  font-family: "Noto Serif", serif;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.main {
  padding: 40px 20px;
}

.title {
  font-size: 1.5em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 680px) {
  .title {
    font-size: 2em;
    margin-bottom: 40px;
  }
}

.link {
  color: #d40000;
}

.table {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin: 20px 0 40px 0;
}
.table__thead {
  color: #d40000;
  text-align: left;
}
.table__row {
  padding-bottom: 10px;
}

tbody td {
  padding: 5px;
}

th {
  width: 33.3333333333%;
  padding: 5px;
}

.card {
  min-height: 120px;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 20px;
  margin: 20px 0;
}
@media screen and (min-width: 680px) {
  .card {
    margin: 0;
  }
}
.card__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #d40000;
  font-size: 1.2em;
}
.card__subtitle {
  margin: 10px 0;
  color: #020202;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */