@use '../abstracts/variables';

.news-wrapper {

    @media screen and (min-width: 680px) {
        display: grid;
        gap: variables.$spacer;
        grid-template-columns: repeat(2, auto);
        margin: variables.$spacer 0;

    }
}