@use '../abstracts/variables';

.card {
    
    &__title--news {
        font-size: 1.5em;  
        
        @media screen and (min-width: 680px) {
            font-size: 2em;
        }
    }

    &__date {
        color: variables.$color-secundary;
        margin: variables.$spacer 0;

        @media screen and (min-width: 680px) {
            margin: variables.$double-spacer 0;

        }

    }


}

.link--news {
    display: block;
    margin-top: variables.$half-spacer;
}

.paragraph {
    margin: variables.$half-spacer 0;
}