@use '../abstracts/variables';

.title-color {
    text-transform: uppercase;
    color: variables.$color-primary;
}

.home {
    &__image {
        width: 100%;
        display: block;
        border-radius: 4px;
        margin-bottom: variables.$spacer;
    
        @media screen and (min-width: 680px){
            margin-bottom: variables.$double-spacer ;
        }
    }
    
    &__subtitle {
        font-size: 1em;
        font-family: variables.$title-font;
        text-align: center;
        margin: variables.$double-spacer 0;
        @media screen and (min-width: 680px) {
            font-size: 1.5em;
        }
    }
    
    &__subtitle::before {
            content: "";
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: variables.$color-primary;
            margin: 0 variables.$spacer 6px 0;
    }

    &__subtitle::after {

        @media screen and (min-width: 680px) {
        content: "";
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: variables.$color-primary;
        margin:0 0 6px 13px;
        }
    }

    &__content {
        margin: variables.$spacer 0;
    }
}



