@use '../abstracts/variables';
@use '../abstracts/mixins';

.card__description--adress {
    margin-top: variables.$half-spacer;
    font-weight: 700;
}

.adress-wrapper {
    
    @media screen and (min-width: 680px) {
        height: 250px;
        background-color: white;
        border-radius: 4px;
        display: flex;
        margin-bottom: variables.$triple-spacer;
        padding: variables.$spacer;
    }
}

.card.card--adress {
    padding: variables.$spacer;
    margin-bottom: 0;

    @media screen and (min-width: 680px) {
        flex: 1;
        padding: 0;
    }
}

.map {
    border-radius: 4px;
    height: 100%;   
}

 .adress-map {
    margin-top: variables.$spacer;
    border-radius: 4px;
    @media screen and (min-width: 680px) {
        flex: 1;
        margin: 0;
    }
    
 }

.contact-wrapper {
    
    @media screen and (min-width: 680px){
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: variables.$spacer;
    }
}

.contact-icon-wrapper {
    display: flex;
    gap: variables.$half-spacer;
    align-items: center;
    padding: 5px 0;
}