@use '../abstracts/variables';

.card__description--adress {
    margin-top: variables.$half-spacer;
    font-weight: 700;
}



.adress-wrapper {
    background-color: white;
    text-align: center;
    border-radius: 4px;
    padding: variables.$spacer;
    margin-top: variables.$spacer;

    @media screen and (min-width: 680px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: variables.$spacer;
        text-align: left;
    }
}


 .map {
    @media screen and (min-width: 680px) {
        width: 50%;
    }
    
 }

.contact-wrapper {
    
    @media screen and (min-width: 680px){
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: variables.$spacer;
    }
}

.contact-icon-wrapper {
    display: flex;
    gap: variables.$half-spacer;
    align-items: center;
    padding: 5px 0;
}

.card.card--adress {
    padding: 0;
}
