@use '../abstracts/variables';
@use '../abstracts/mixins';

.kendo {
    &__list {
        margin: variables.$spacer 0;
    }

    &__item {
        display: block;
        text-decoration: none;
        font-family: variables.$title-font;
        padding: 5px 0;
            
        @media screen and (min-width: 680px) {
            padding: variables.$half-spacer 0;
            font-size: 1.1em;
        }
    }

    &__item:hover {
        cursor: pointer;
    }

    &__link {
        text-decoration: none;
        color: white;
    }

    &__description {
        margin: variables.$half-spacer 0;
    }

    &__subtitle {
        font-size: 1em;
        font-family: variables.$title-font;
        margin: variables.$double-spacer 0 variables.$spacer 0;
        
        @media screen and (min-width: 680px) {
            padding: variables.$half-spacer;
            font-size: 1.5em;
            text-align: center;
            margin-top: variables.$triple-spacer;
            margin-bottom: variables.$spacer;
            }
    }

    &__subtitle::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: variables.$color-primary;
        margin: 0 variables.$spacer 6px 0;
    }
}
    
.equipment-image {
    width: 100%;
    border-radius: 4px;
    margin-top: variables.$spacer;
}

.care-subtitle,
.dictionary-subtitle {
    font-family: variables.$title-font;
    font-size: 1em;
}

.care-subtitle{
    margin-top: variables.$spacer;
}

