<header class="header">

    <div class="header-aligner">
        
        <a href="/">
            <img class="header__logo" src="/images/Usagi_logo.svg" alt="logo" width="100px">
        </a>

        <div class="header__text">
            <p class="header__title">Usagi Dojo</p>
            <p class="header__description">Klub japonského bojového umění kendó</p>
        </div>

    </div>
        
    {% include 'partials/menu.njk' %}

</header>