<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ menu</label>

    <div class="menu__list">
        <a class="menu__item {{ 'menu__item--active' if page.fileSlug === '' }}" href="/">O nás</a>
        <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'aktualne' }}" href="/aktualne/">Aktuálně</a>
        <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kalendar' }}" href="/kalendar/">Kalendář</a>
        <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'jak-zacit' }}" href="/jak-zacit/">Jak začít</a>
        <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'o-kendo' }}" href="/o-kendo/">O kendó</a>    
        <a class="menu__item {{ 'menu__item--active' if page.fileSlug === 'kontakty' }}" href="/kontakty/">Kontakty</a>  
    </div> 
        
</nav>