<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ menu</label>

    <div class="menu__list">
        <a class="menu__item" href="/">O nás</a>
        <a class="menu__item" href="/aktualne/">Aktuálně</a>
        <a class="menu__item" href="/kalendar/">Kalendář</a>
        <a class="menu__item" href="/jak-zacit/">Jak začít</a>
        <a class="menu__item" href="/o-kendo/">O kendó</a>    
        <a class="menu__item" href="/kontakty/">Kontakty</a>  
    </div> 
        
</nav>