@use '../abstracts/variables';
@use '../abstracts/mixins';

.header-aligner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.header {

    
    
    @media screen and (min-width: 680px) {
        background-image: url(/images/backgroung-image.png);
        background-size: cover;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        margin: variables.$spacer;
        @media screen and (min-width: 680px) {
            width: 120px;
        }

    }
    
    &__text {
        margin: variables.$spacer;
    }
     
    &__title {
        text-transform: uppercase;
        font-size: 1.5em;
        font-family: variables.$title-font;
        font-weight: 700;

        @include mixins.slideDownAnimation;
        animation: slideDownAnimation 1s ease-out;
       
        @media screen and (min-width: 680px) {
            font-size: 2.5em;
        }
    }

    &__description {
        font-size: 1em;
        font-family: variables.$title-font;

        @include mixins.slideLeftAnimation;
        animation: slideLeftAnimation 1.5s ease-out;

        @media screen and (min-width: 680px) {
            font-size: 1.5em;
        }

    }

    &__description::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color: variables.$color-primary;
        margin: 0px variables.$spacer 6px 0;
          
    }
}
