@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    background-color: variables.$color-secundary;
    color:white;
    font-family: variables.$default-font;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;    
}

.main {
    padding: variables.$double-spacer variables.$spacer;  
}

.title {
    font-size: 1.5em;
    text-align: center;
    font-family: variables.$title-font;
    @media screen and (min-width: 680px) {
        font-size: 2em;
        margin-bottom: variables.$double-spacer ;
    }
}

.link {
    color: variables.$color-primary;
}


