$color-primary: #d40000ff;
$color-secundary: #020202;

$default-font: 'Noto Serif', serif;
$title-font: 'Open Sans', sans-serif;

$spacer: 20px;
$double-spacer: $spacer * 2;
$triple-spacer: $spacer * 3;
$half-spacer: $spacer / 2;