<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="USAGI Dojo">
    <meta property="og:description" content="Vítejte na stránkách klubu USAGI dojo, který se zabývá výukou tradičního japonského
    bojového umění kendó.">
    <meta property="og:type" content="Website">
    <meta property="og:image" content="https://usagi-dojo.netlify.app/images/og.image.png">
    <meta property="og:url" content="https://usagi-dojo.netlify.app/">
    <meta property="og:locale" content="cs_CZ">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <title>{{title}}</title>
</head>
<body class="animate-once">

    <div class="wrapper">  
        
        {% include 'partials/header.njk' %}

        {% include 'partials/menu.njk' %}

        <main class="main">

            {{content|safe}}
            
        </main>

        

    </div>

    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }

      </script>

      

{% include 'partials/footer.njk' %}


<script type="module" src="/scripts/script.js"></script>

</body>
</html>